<head>
  <meta charset="utf-8" />
  <title>Conscious Tether: Art and the Internet in Los Angeles — Audio Descriptions</title>
  <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
  <link rel="stylesheet" href="styles/index.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
  <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
</head>